body
{
margin:0;
padding:0;
background-image:url("0feb2930-1e21-477d-a003-4383387af67b.jpeg");
background-size:cover;
backgorund-position:full screen;
font-family:sans-serif;
}
a
{
background-color:black;
font-color:red;
font-family:comics sans;
}
P
{
color:white;
}
